@using Lvzhen.Model;
@{
    ViewBag.Title = "北京能高NEGO";
    Layout = null;
    //Layout = "~/Views/Shared/Header.cshtml";
   var comboxData = (IEnumerable<SelectListItem>)Model;
}
<html lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<head>
    <link rel="stylesheet" href="~/css/wtacommon.css" type="text/css" />
    <link rel="stylesheet" href="~/lib/layui/css/layui.css" type="text/css" />
    <script src="~/js/echarts.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/layDate-v5.0.9/laydate/laydate.js"></script>
    <script src="~/lib/layui/layui.all.js"></script>

    <script src="~/js/Api.js"></script>
</head>
<body style="background: aliceblue;">
    <div class="mainBox">
        <div class="head">
            <div class="headLeft">
                <div>NEGO</div>
                <div>北京能高</div>
            </div>
            <div class="headRight">
                风电机组叶片及塔筒振动检测系统
            </div>
        </div>
        <div class="tab">
            <button class="tabButton" id="bt1" onclick="changeTab('1')">机组状态</button>
            <button class="tabButton" id="bt2" style="background: white" onclick="changeTab('2')">机舱塔筒</button>
        </div>
        <div class="mainBody status" style="display:none" id="displayContro">机组状态</div>
        <div class="mainBody" id="showContro">
            <div class="requireDiv">
                <div class="require1">数据检索</div>
                <div class="require2">

                    <div class="requireOption">
                        <span style="color: #000;" class="controlSpan ">机组选择：</span>
                        @Html.DropDownList("dropdownlist", comboxData, new { @class = "combox" })
                        @*<select style="width: 100px;border-radius: 4px;outline: none;">
                <option>风机1</option>
            </select>*@
                    </div>
                    <div class="requireOption">
                        <span style="color: #000;" class="controlSpan">起始日期：</span>
                        @*<input type="date" id="date1" />*@
                        <input type="text" class="controlSpan" id="laydate1" placeholder="yyyy-MM-dd">
                    </div>
                    <div class="requireOption">
                        <span style="color: #000;" class="controlSpan">结束日期：</span>
                        @*<input type="date" id=" " />*@
                        <input type="text" id="laydate2">
                    </div>
                    <button class="requireButton" onclick="doQuery()">查询</button>
                </div>
            </div>
            <div class="dataDiv">
                <div class="require1">图表展示</div>
                <div class="echartsDiv">
                    <div class="echartsPain">
                        <div id="chart_1" class="chartOption"></div>
                    </div>
                    <div class="echartsPain">
                        <div id="chart_2" class="chartOption"></div>
                    </div>
                    <div class="echartsPain">
                        <div id="chart_3" class="chartOption"></div>
                    </div>

                    <div class="echartsPain">
                        <div id="chart_4" class="chartOption"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>

    $(function () {
     
        laydate.render({
            elem: '#laydate1' //指定元素
        });
        laydate.render({
            elem: '#laydate2' //指定元素
        });
        let myDate = new Date();
        let currentDate = myDate.getFullYear().toString() + '-' + (myDate.getMonth()+1).toString() + '-' + myDate.getDate().toString();        //获取日期与时间
        let lastMonthDate = myDate.getFullYear().toString() + '-' + myDate.getMonth().toString() + '-' + myDate.getDate().toString();        //获取日期与时间
        $('#laydate1').val(lastMonthDate)
        $('#laydate2').val(currentDate)
    }
        )
    function changeTab(v) {
        document.getElementById('displayContro').style.display = "none";
        document.getElementById('showContro').style.display = "none";
        document.getElementById('bt1').style.background = "none";
        document.getElementById('bt2').style.background = "none";
        if (v == '1') {
            document.getElementById('displayContro').style.display = "block";
            document.getElementById('bt1').style.background = "white";
        } else {
            document.getElementById('showContro').style.display = "block";
            document.getElementById('bt2').style.background = "white";
        }
    };
    function doQuery() {
        var queryData = {
            machineUnit_Name: $('#dropdownlist').val(),
            create_time_begin: $('#laydate1').val(), 
            create_time_end: $('#laydate2').val()
        }
        if (queryData.create_time_begin > queryData.create_time_end)
        {
            layer.msg('开始时间不能大于结束时间！', { offset: '200px' });
            return;
        }
        Post('/MonitorData/GetMonitorData', queryData, 'json', function (data) {

            if (data.code != 1)
            {
                layer.msg('暂无数据', { offset: '200px' }); 
                return;
            }
            var chartdata = data.data;
            console.log(chartdata.机舱)
            chart_1(chartdata);
            chart_2(chartdata);
            chart_3(chartdata);
            chart_4(chartdata);
        });

        function chart_1(chartdata) {
            chart_1 = echarts.init(document.getElementById('chart_1'));
            option = {
                title: {
                    text: '机舱散点图'
                },

                tooltip: {
                    show: true,
                    trigger: 'item'
                },

                xAxis: {},
                yAxis: {},
                series: [{
                    symbolSize: 5,
                    //data: [
                    //    [10.0, 8.04],
                    //    [8.0, 6.95],
                    //    [13.0, 7.58],
                    //    [9.0, 8.81],
                    //    [11.0, 8.33],
                    //    [14.0, 9.96],
                    //    [6.0, 7.24],
                    //    [4.0, 4.26],
                    //    [12.0, 10.84],
                    //    [7.0, 4.82],
                    //    [5.0, 5.68]
                    //],
                    data: chartdata.机舱.scatterData1,
                    type: 'scatter'
                }]
            };

            chart_1.setOption(option)
        }
        function chart_2(chartdata) {
            chart_2 = echarts.init(document.getElementById('chart_2'));
            console.log(chartdata.times)
            option = {
                title: {
                    text: '机舱趋势图'
                },
                tooltip: {
                    show: true,
                    trigger: 'item'
                },

                legend: { // 图例
                    data: [$('#dropdownlist').val()],top:'10'
                },
                toolbox: {
                    show: true,
                    feature: {
                        magicType: { type: ['line', 'bar'] },
                        restore: {},
                        saveAsImage: {}
                    }
                },
                xAxis: {
                    type: 'category',
                   //data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
                    data: chartdata.机舱.times
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    //data: [820, 932, 901, 934, 1290, 1330, 1320],
                    name: $('#dropdownlist').val(),
                    data: chartdata.机舱.lineData,
                    type: 'line'
                }]
            };

            chart_2.setOption(option)
        }
        function chart_3(chartdata) {
            chart_3 = echarts.init(document.getElementById('chart_3'));
            var hours = ['12a', '1a', '2a', '3a', '4a', '5a', '6a',
                '7a', '8a', '9a', '10a', '11a',
                '12p', '1p', '2p', '3p', '4p', '5p',
                '6p', '7p', '8p', '9p', '10p', '11p'];
            //var days = ['周一', '周二', '周三',
            //  '周四', '周五', '周六', '周日'];
            var days = chartdata.塔基.times;
            //var data = [[0, 0, 5], [0, 1, 1], [0, 2, 0], [0, 3, 0], [0, 4, 0], [0, 5, 0], [0, 6, 0], [0, 7, 0], [0, 8, 0], [0, 9, 0], [0, 10, 0], [0, 11, 2], [0, 12, 4], [0, 13, 1], [0, 14, 1], [0, 15, 3], [0, 16, 4], [0, 17, 6], [0, 18, 4], [0, 19, 4], [0, 20, 3], [0, 21, 3], [0, 22, 2], [0, 23, 5], [1, 0, 7], [1, 1, 0], [1, 2, 0], [1, 3, 0], [1, 4, 0], [1, 5, 0], [1, 6, 0], [1, 7, 0], [1, 8, 0], [1, 9, 0], [1, 10, 5], [1, 11, 2], [1, 12, 2], [1, 13, 6], [1, 14, 9], [1, 15, 11], [1, 16, 6], [1, 17, 7], [1, 18, 8], [1, 19, 12], [1, 20, 5], [1, 21, 5], [1, 22, 7], [1, 23, 2], [2, 0, 1], [2, 1, 1], [2, 2, 0], [2, 3, 0], [2, 4, 0], [2, 5, 0], [2, 6, 0], [2, 7, 0], [2, 8, 0], [2, 9, 0], [2, 10, 3], [2, 11, 2], [2, 12, 1], [2, 13, 9], [2, 14, 8], [2, 15, 10], [2, 16, 6], [2, 17, 5], [2, 18, 5], [2, 19, 5], [2, 20, 7], [2, 21, 4], [2, 22, 2], [2, 23, 4], [3, 0, 7], [3, 1, 3], [3, 2, 0], [3, 3, 0], [3, 4, 0], [3, 5, 0], [3, 6, 0], [3, 7, 0], [3, 8, 1], [3, 9, 0], [3, 10, 5], [3, 11, 4], [3, 12, 7], [3, 13, 14], [3, 14, 13], [3, 15, 12], [3, 16, 9], [3, 17, 5], [3, 18, 5], [3, 19, 10], [3, 20, 6], [3, 21, 4], [3, 22, 4], [3, 23, 1], [4, 0, 1], [4, 1, 3], [4, 2, 0], [4, 3, 0], [4, 4, 0], [4, 5, 1], [4, 6, 0], [4, 7, 0], [4, 8, 0], [4, 9, 2], [4, 10, 4], [4, 11, 4], [4, 12, 2], [4, 13, 4], [4, 14, 4], [4, 15, 14], [4, 16, 12], [4, 17, 1], [4, 18, 8], [4, 19, 5], [4, 20, 3], [4, 21, 7], [4, 22, 3], [4, 23, 0], [5, 0, 2], [5, 1, 1], [5, 2, 0], [5, 3, 3], [5, 4, 0], [5, 5, 0], [5, 6, 0], [5, 7, 0], [5, 8, 2], [5, 9, 0], [5, 10, 4], [5, 11, 1], [5, 12, 5], [5, 13, 10], [5, 14, 5], [5, 15, 7], [5, 16, 11], [5, 17, 6], [5, 18, 0], [5, 19, 5], [5, 20, 3], [5, 21, 4], [5, 22, 2], [5, 23, 0], [6, 0, 1], [6, 1, 0], [6, 2, 0], [6, 3, 0], [6, 4, 0], [6, 5, 0], [6, 6, 0], [6, 7, 0], [6, 8, 0], [6, 9, 0], [6, 10, 1], [6, 11, 0], [6, 12, 2], [6, 13, 1], [6, 14, 3], [6, 15, 4], [6, 16, 0], [6, 17, 0], [6, 18, 0], [6, 19, 0], [6, 20, 1], [6, 21, 2], [6, 22, 2], [6, 23, 6]];
            var data = chartdata.塔基.scatterData2;
            option = {
                title: {
                    text: '塔基散点图'
                },
                tooltip: {
                    show: true,
                    trigger: 'item'
                },

                polar: {},
                tooltip: {
                    formatter: function (params) {
                        return params.value[2] + ' 创建与 ' + days[params.value[0]];
                    }
                },
                angleAxis: {
                    type: 'category',
                    data: hours,
                    boundaryGap: false,
                    splitLine: {
                        show: true,
                        lineStyle: {
                            color: '#999',
                            type: 'dashed'
                        }
                    },
                    axisLine: {
                        show: true
                    }
                },
                radiusAxis: {
                    type: 'category',
                    data: days,
                    axisLine: {
                        show: false
                    },
                    axisLabel: {
                        rotate: 45
                    }
                },
                series: [{
                    name: 'Punch Card',
                    type: 'scatter',
                    coordinateSystem: 'polar',
                    symbolSize: function (val) {
                        return val[2] * 2;
                    },
                    data: data,
                    animationDelay: function (idx) {
                        return idx * 5;
                    }
                }]
            };

            chart_3.setOption(option)
        }
     
        function chart_4(chartdata) {
            chart_4 = echarts.init(document.getElementById('chart_4'));
            option = {
                title: {
                    text: '塔基趋势图'
                },
                legend: { // 图例
                    data: [$('#dropdownlist').val()], top: '10'
                },
                tooltip: {
                    show: true,
                    trigger: 'item'
                },

                xAxis: {
                    type: 'category',
                    //data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun']
                    //data: chartdata.times
                     data:chartdata.塔基.times
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    //data: [820, 932, 901, 934, 1290, 1330, 1320],
                    name: $('#dropdownlist').val(),
                    data: chartdata.塔基.lineData,
                    type: 'line'
                }]
            };

            chart_4.setOption(option)
        }
    }
</script>
</html>




